$background-image: url('Picsart_24-09-26_15-03-59-962.jpg'); // Background image path
$image-width: 150px; // Width of the images

body {
  
    background-image: $background-image;
    background-size: cover; // Ensures the background covers the whole area
    display: flex;
    justify-content: flex-end; // Aligns the container to the right
    height: 100vh; // Full height
width:100vh
height:770px;
width:360px;
}
    table{
background-colour:violet;
margin-left:0px;
      margin-right:0px;
      margin-bottom:300px;
      margin-top:300px;

    }
