$background-image: url('Picsart_24-09-26_15-03-59-962'); // Background image path
$image-width: 150px; // Width of the images

body {
    
    background-image: $background-image;
    background-size: cover; // Ensures the background covers the whole area
    display: flex;
    justify-content: flex-end; // Aligns the container to the right
    height: 100vh; // Full height
width:100vh;
    height:780px;
    width:360px;
    
    table{
    width: 360px;
    border-collapse: collapse;
tb ,td{
    background-colour:violent;
    }
